@model WebSpeciliste.Models.SpecialistDto

<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Register</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Specialist</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Create</li>
            </ol>
        </nav>
    </div>
</div>
<h1 class="text-center mb-5 wow fadeInUp text-primary" data-wow-delay="0.1s">Create Your Profil</h1>
<div class="row g-4">

    <div class="col-md-12">
        <div class="wow fadeInUp" data-wow-delay="0.5s">
            <form asp-action="AddSpecialist">
                <div class="row g-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-12">
                        <input asp-for="id" hidden />
                        <div class="form-floating">
                            <input type="text" asp-for="FirstName" class="form-control" id="FirstName" placeholder="Your First Name">
                            <label for="name">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="text" asp-for="LastName" class="form-control" id="LastName" placeholder="Your Last Name">
                            <label for="name">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Your Email">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="text" asp-for="Tel" class="form-control" id="phone" placeholder="Your Phone">
                            <label for="phone">Phone</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="text" asp-for="Speciality" class="form-control" id="Speciality" placeholder="Your Speciality">
                            <label for="Speciality">Speciality</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="text" asp-for="city" class="form-control" id="city" placeholder="Your City">
                            <label for="city">City</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="text" asp-for="street" class="form-control" id="street" placeholder="Your Street">
                            <label for="street">Street</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="text" asp-for="zipCode" class="form-control" id="zipCode" placeholder="Your Zip Code">
                            <label for="zipCode">Zip Code</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                            <input type="File" class="form-control" placeholder="Your Image">
                            <label for="email">Image</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>